# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.sum

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
*/java/target/*
*/java/*.iml
.classpath
.project
.vscode
.settings
doc/

.nyc_output/
node_modules/
coverage/
dist/
.DS_Store
.history/